body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffffff; /* 상단바 색깔 변경 */
    color: rgb(255, 255, 255);
    width: 100%;
    height: 50px; /* 상단 메뉴바 높이 */
    display: flex;
    align-items: center;
    position: fixed; /* 스크롤 시에도 상단에 고정 */
    top: 0;
    z-index: 1000;
    padding: 0 20px; /* 좌우 패딩 추가 */
    box-sizing: border-box; /* 패딩 포함하여 박스 크기 계산 */
}

nav {
    width: 100%;
    max-width: 1920px; /* 화면 크기 1920px에 맞추기 */
    display: flex;
    justify-content: center; /* 로고와 메뉴 사이에 공간 생성 */
    align-items: center; /* 수직 정렬 */
    padding: 0 20px; /* 좌우 여백 */
}


.logo {
    flex-shrink: 0; /* 로고 크기 고정 */
    width: auto; /* 가로 비율을 유지하며 자동 조정 */
    height: 100%; /* 로고 이미지 높이 조정 */
    max-height: 20px; /* 상단바 높이에 맞추기 */
    object-fit: contain; /* 이미지 비율 유지 */
    padding: 0 10px; /* 좌우 패딩 추가 */
    margin-right: auto; /* 메뉴를 화면 우측에 정렬 */
}

.logo-container {
    margin-right: auto; /* 로고와 메뉴 사이의 간격 조절 */
}


ul.menu {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: auto;
}

ul.menu li {
    margin: 0 15px;
    text-align: center; /* 각 목록 항목의 텍스트를 가운데 정렬 */
}

ul.menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
    padding: 0 20px;
}

ul.menu li a:hover {
    background-color: #ffffff; /* hover 상태에서 배경색 변경 */
    border-radius: 4px;
}
